plugin {
   sieve = file:~/sieve;active=~/.dovecot.sieve
   # sieve_trace_dir = ~/sieve
   # sieve_trace_level = matching
   # sieve_global_path = /var/lib/dovecot/sieve/default.sieve
   # sieve_dir = ~/sieve
   # sieve_global_dir = /var/lib/dovecot/sieve/
}
